{% extends "base.html" %}
{% block content %}

<div class="jumbotron" id="index-head">
    {% include 'jumbotron.html' %}
</div>

<!--removed form code-->

{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}

<nav aria-label="Paginate">
  <ul class="pager">
    {% if posts.has_prev %}
        <li>
            <a href="{{ url_for('index', page=posts.prev_num) }}">Newer posts</a>
        </li>
      {% else %}<li class="disabled"><a href="">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
        <li>
            <a href="{{ url_for('index', page=posts.next_num) }}">Older posts</a>
        </li>
      {% else %}<li class="disabled"><a href="">Older posts</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}