<div id="index-jumbotron-text">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" id="large-logo" src="/static/img/18wrestlers_lg.png" alt="18Wrestlers.com">
            </a>
        </div>
        <div class="media-body">
            <h2>Welcome to {{ config['SITE_NAME'] }}!</h2>
            <p>{{ config['SITE_TAG_LINE'] }}</p>
        </div>
    </div>
</div>
<!--<div id="index-jumbotron-image">-->
    <!--<img src="" alt="Some image">-->
<!--</div>-->