<!-- extend our base layout -->

{% extends "base.html" %}

{% block content %}
    <div class="well well-lg" id="profile-head">
        <div>
            <img class="profile-avatar" src="{{ user.avatar(128) }}">
            <h1 class="profile-nickname">{{ user.nickname }}</h1>
        </div>

        <div>
            {% if user.about_me %}{{ user.about_me }}{% endif %}
            <br />
            {% if user.current_login_at %}Currently on as of: {{ momentjs(user.current_login_at).calendar() }}
                {% elif user.last_login_at %}Last seen on: {{ momentjs(user.last_login_at).calendar() }}{% endif %}
            <br />
        </div>

        <div>
            <p>{{ user.followers.count()-1 }} followers |
                {% if user.id == current_user.id %}
                    <a href="{{ url_for('edit') }}">Edit your profile</a>
                {% elif not current_user.is_following(user) %}
                    <a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
                {% else %}
                    <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
                {% endif %}
            </p>
        </div>
    </div>

    {% if user.id == current_user.id %}
        <div class="well well-lg" id="profile-post">
            <form action="" method="post" class="form">
                {{ form.csrf_token }}
                <textarea rows="3" id="post" name="post" class="form-control" placeholder="Say something!"></textarea>
                <div id="textarea_feedback"></div>

                <button type="submit" class="btn btn-lg btn-block btn-primary btn-default" >Post!</button>
                <div class="controls">
                    {% for error in form.post.errors %}
                        <div class="alert alert-danger" role="alert"><span style="color: red;">[{{ error }}]</span><br></div>
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endif %}

    {% for post in posts.items %}
        {% include 'post.html' %}
    {% endfor %}

   <nav aria-label="...">
      <ul class="pager">
        {% if posts.has_prev %}
            <li>
                <a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">Newer posts</a>
            </li>
          {% else %}<li class="disabled"><a href="">Newer posts</a></li>
        {% endif %}
        {% if posts.has_next %}
            <li>
                <a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Older posts</a>
            </li>
          {% else %}<li class="disabled"><a href="">Older posts</a></li>
        {% endif %}
      </ul>
    </nav>

    <script>
        $(document).ready(function() {
            var text_max = 8192;
            $('#textarea_feedback').html(text_max + ' characters remaining');

            $('textarea#post.form-control').keyup(function() {
                var text_length = $('textarea#post.form-control').val().length;
                var text_remaining = text_max - text_length;

                $('#textarea_feedback').html(text_remaining + ' characters remaining');
            });
        });
    </script>
{% endblock %}
